/* Font import and variables */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    /* Primary Colors */
    --clr-dark-cyan: hsl(158, 36%, 37%);
    --clr-cream: hsl(30, 38%, 92%);

    /* Secondary Colors */
    --clr-very-dark-blue: hsl(212, 21%, 14%);
    --clr-dark-grayish-blue: hsl(228, 12%, 48%);
}

/* CSS Reset */

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    font-size: 0.875rem;
}

#root,
#__next {
    isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

/* Website making */

body {
    background-color: var(--clr-cream);
    display: flex;
    align-items: center;
    justify-content: center;
}

.product {
    background-color: #fff;
    display: grid;
    border-radius: 1rem;
    max-width: 350px;
}

.product__lower-part {
    padding: 1.5rem;
}

picture img {
    height: auto;
    width: auto;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.product__type {
    text-transform: uppercase;
    letter-spacing: .4rem;
    font-size: .80rem;
    color: var(--clr-dark-grayish-blue);
    font-weight: 500;
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    line-height: 1.09;
    color: var(--clr-very-dark-blue);
    margin-top: .8rem;
    margin-left: .15rem;
}

.product__description {
    color: var(--clr-dark-grayish-blue);
    padding: 0 .2rem;
    margin-top: 1rem;

}

.product__prices {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
    align-items: center;
}

.current-price {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: var(--clr-dark-cyan);
}

.old-price {
    color: var(--clr-dark-grayish-blue);
}

.product__cart {
    border: 0;
    background-color: var(--clr-dark-cyan);
    color: #fff;
    padding: 1rem 7rem;
    border-radius: .5rem;
    margin-top: 1rem;
    font-size: .8rem;
    font-weight: 700;
}