@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
  /* Colors */
  --clr-cream-bg: hsl(30 38% 92%);
  --clr-greenish: hsl(158 36% 37%);
  --clr-text-default: hsl(228 12% 48%);
  --clr-text-title: hsl(212 21% 14%);

  /* Font Families */
  --ff-regular: 'Montserrat', sans-serif;
  --ff-fancy: 'Fraunces', serif;

  /* Font Weights */
  --fw-regular-default: 500;
  --fw-regular-bold: 700;
  --fw-fancy: 700;
}

/* CSS Reset Beginning */

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-cream-bg);
  color: var(--clr-text-default);
  min-height: 100vh;
  font-family: var(--ff-regular);
  font-weight: var(--fw-regular-default);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

#root, #__next {
  isolation: isolate;
}

/* Only for this project */
p {
  font-size: 0.875rem;
}

/* CSS Reset End */

main {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.product {
  background-color: #fff;
  border-radius: 1em;
  min-width: 45%;
  height: 65%;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

picture {
  margin-bottom: 1em;
}

picture img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  height: auto;
  width: auto;
}

.product__type {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin-left: 1.5em;
}

.product__title {
  
  font-family: var(--ff-fancy);
  color: var(--clr-text-title);
  font-weight: var(--fw-fancy);
  margin-left: 0.6em;
  font-size: 2.1rem;
  line-height: 1.2;
}

.product__description {
  margin-top: 1em;
  margin-left: 1.5em;
}

.flex-group {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.product__current-price {
  font-family: var(--ff-fancy);
  color: var(--clr-greenish);
  margin-left: 0.5em;
  font-size: 2.3rem;
}

.product__old-price {
  margin-left: 1.2em;
  align-self: center;
}

.add-to-cart-container {
  display: flex;
  justify-content: center;
}

.add-to-cart {
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  cursor: pointer;
  background-color: var(--clr-greenish);
  color: #fff;
  height: 2.5rem;
  font-weight: var(--fw-regular-bold);
  border-radius: 0.3em;
  margin: 0 1em;
  margin-top: 0.3em;
  margin-bottom: 1em;
}

.add-to-cart[data-icon="shopping-cart"]::before {
  content: '';
  width: 15px;
  height: 16px;
  background-image: url('images/icon-cart.svg');
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
