:root {
  /* Colors */
  --clr-cream-bg: hsl(30 38% 92%);
  --clr-greenish: hsl(158 36% 37%);
  --clr-text-default: hsl(228 12% 48%);
  --clr-text-title: hsl(212 21% 14%);

  /* Font Families */
  --ff-regular: "Montserrat", sans-serif;
  --ff-fancy: "Fraunces", serif;

  /* Font Weights */
  --fw-regular-default: 500;
  --fw-regular-bold: 700;
}

body {
  background-color: var(--clr-cream-bg);
  display: grid;
  place-content: center;
  font-family: var(--ff-regular);
  font-weight: var(--fw-regular-default);
}

.product {
  background-color: #fff;
  display: grid;
  margin: 1rem;
  border-radius: 0.5rem;
}

img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.product__content {
  padding: 1rem;
}

.product__category {
  color: var(--clr-text-default);

  font-size: 0.875rem;
  letter-spacing: 0.3rem;
  margin-block-start: 0.5rem;
  margin-inline-start: 0.5rem;
}

.product__title {
  font-family: var(--ff-fancy);
  color: var(--clr-text-title);
  font-size: 2rem;
  font-weight: var(--fw-regular-bold);
  line-height: 1;
  margin-block-start: 0.75rem;
  margin-inline-start: 0.5rem;
}

.product__description {
  color: var(--clr-text-default);
  margin-inline-start: 0.5rem;
  margin-block-start: 1rem;
  word-spacing: 0.1rem;
  font-size: 14px;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.flex-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-block-start: 1.5rem;
  margin-inline-start: 0.5rem;
}

.product__current-price {
  font-size: 2rem;
  font-family: var(--ff-fancy);
  color: var(--clr-greenish);
  font-weight: var(--fw-regular-bold);
}

.product__old-price {
  color: var(--clr-text-default);
}

/* TODO .add-to-cart */
