:root {
  /* Colors */
  --clr-cream-bg: hsl(30 38% 92%);
  --clr-greenish: hsl(158 36% 37%);
  --clr-text-default: hsl(228 12% 48%);
  --clr-text-title: hsl(212 21% 14%);

  /* Font Families */
  --ff-regular: "Montserrat", sans-serif;
  --ff-fancy: "Fraunces", serif;

  /* Font Weights */
  --fw-regular-default: 500;
  --fw-regular-bold: 700;
}

body {
  background-color: var(--clr-cream-bg);
  display: grid;
  place-content: center;
  font-family: var(--ff-regular);
  font-weight: var(--fw-regular-default);
  line-height: 1.7;
}

.product {
  --content-spacing: 1rem;
  --content-padding: 1.5rem;
  background-color: #fff;
  display: grid;
  overflow: hidden;
  border-radius: 0.5rem;
  max-width: 610px;
  margin: 1rem;
}

img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.product__content {
  padding: var(--content-padding);
  display: grid;
  gap: var(--content-spacing);
}

.product__category {
  color: var(--clr-text-default);
  font-size: 0.875rem;
  letter-spacing: 0.3rem;
}

.product__title {
  font-family: var(--ff-fancy);
  color: var(--clr-text-title);
  font-size: 2rem;
  font-weight: var(--fw-regular-bold);
  line-height: 1.05;
}

.product__description {
  color: var(--clr-text-default);
  word-spacing: 0.1rem;
  font-size: 14px;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.flex-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.product__current-price {
  font-size: 2rem;
  font-family: var(--ff-fancy);
  color: var(--clr-greenish);
  font-weight: var(--fw-regular-bold);
}

.product__old-price {
  color: var(--clr-text-default);
}

.add-to-cart {
  width: 100%;
  background-color: var(--clr-greenish);
  color: #fff;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5em;
  font-weight: var(--fw-regular-bold);
  display: inline-flex;
  justify-content: center;
  gap: 0.75rem;
  align-items: center;
}

.add-to-cart::before {
  content: "";
  background-image: url("../images/icon-cart.svg");
  width: 15px;
  height: 16px;
  display: inline-block;
}

@media (min-width: 610px) {
  .product {
    grid-template-columns: 1fr 1fr;
    --content-padding: 2rem;
  }
  img {
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0;
  }
}

button {
  transition: 0.25s background-color linear;
}

button:is(:hover, :focus) {
  background-color: #174131;
  cursor: pointer;
}
